@{
    ViewData["Title"] = "APQP";
}

<div class="text-center">
    <h1 class="display-4">APQP</h1>
    <br></br>
    <div class="container">
        <p>KCE PN :&nbsp;</p>
        <input type="text" id="" class="input-box">&nbsp;</input>
        <button type="button" class="search-button" onclick="">ค้นหา</button>
    </div>

</div>